body,p,span{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
/* own style css */
.main-header .container-fluid{
    max-width: 1330px;
}
.btn-primary {
    background: #ee3f3e !important;
    border-color: #ee3f3e;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 17px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    
}
.btn-primary::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #111;
    border-color: #111;
    z-index: -1;
    transition: .4s;
}
.btn-primary:hover{
    border-color: #111;
}
.btn-primary:hover::after{
    width: 100%;
}
.header-section{
    background-color: #ffffff;
}
/* menu part css */

.primary-menu{}
.primary-menu ul{}
.primary-menu ul li{}
.primary-menu ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 17px;
    color: #111;
    font-weight: 500;
    font-size: 17px;
    transition: .5s;
}
.primary-menu ul li a:hover{
    color: #ee3f3e;
}
/* Dropdown menu part css */
.primary-menu ul li{
    position: relative;
}
.primary-menu ul li ul{
    position: absolute;
    width: 200px;
    left: 0;
    top: 150%;
    background: #fff;
    list-style: none;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgb(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}

.primary-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 100%;

}
.primary-menu ul li ul li{
}
.primary-menu ul li ul li a{}
.primary-menu ul li ul li a:hover{}

.header-details{}
.header-search {
    width: 40px;
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    border-right: 1px solid #ddd;
}

.header-call{
    width: 40px;
}
.header-call-icon{
    font-size: 30px;
    color: #ee3f3e;
}
.header-call-details span{
    color:#616079;
}
.header-call-details a{
    font-weight: 500;
    font-size: 17px;
    color: #111111;
    text-decoration: none;
}
.header-button{}



/* Banner-part css */
.banner-content{
   padding: 150px 0;
   width: 50%;
}
.banner-content h1{
    font-size: 58px;
}
.banner-content h6{
    color: #f5433f;
}
.banner-content p{
    font-size: 18px;
}

.banner-section{
    background: url("https://i.ibb.co/CQhFv5X/main-banner2.jpg") no-repeat center center;
    background-attachment: fixed;
    height: 800px;
}
img{
    max-width: 100%;
}


.banner-social{}
.banner-social ul {
    list-style: none;
}
.banner-social ul li{
    display: inline-block;
}
.banner-social ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #111;
    font-size: 24px;
}